body {
  margin: 0;
  background-color: #e8291e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  color: black;
}
header #logo {
  font-size: 40pt;
  text-align: center;
}
header .menu a {
  color: white;
  text-decoration: none;
}
header .menu ul {
  list-style-type: none;
  text-align: center;
  font-size: 15pt;
}
header .menu ul li {
  display: inline-block;
  padding-right: 7px;
  border-right: 1px solid grey;
  position: relative;
}
header .menu ul li:last-child {
  border-right: none;
  padding-right: 0;
}
header .menu ul li a:hover {
  transition: 0.3s;
  color: black;
  cursor: pointer;
}
header .menu ul li .submenu {
  width: 350%;
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  left: -115%;
}
header .menu ul li .submenu > li {
  border-right: none;
}
header .menu ul li .submenu > li:last-child {
  padding-right: 7px;
}
header .menu ul li:hover > ul {
  display: block;
}
footer {
  background-color: #ffb7b7;
  padding: 50px 0 10px 0;
  min-width: 100%;
  max-height: 100px;
  display: flex;
  align-items: center;
}
footer figure {
  padding-right: 250px;
  margin: 0;
}
footer figure figcaption {
  position: relative;
  top: -40px;
  left: 50px;
  max-width: 200px;
}
footer figure:nth-child(2) figcaption {
  position: relative;
  top: -57px;
}
footer figure:first-child {
  padding-left: 470px;
}
article {
  align-self: center;
  flex-grow: 1;
  color: black;
  font-size: 14pt;
  max-width: 1000px;
}
article .padding {
  padding-bottom: 15px;
}
article ul {
  font-size: 12pt;
  width: 350px;
}
article ul:first-child {
  padding-right: 220px;
}
article .facilities {
  display: flex;
  flex-direction: row;
}
article a {
  color: black;
}
