footer {
  background-color: darken(@articleColor, 20%);
  padding: 50px 0 10px 0;
  min-width: 100%;
  max-height: 100px;

  figure {
    max-width: 395px;
    margin: 0;
    figcaption {
      position: relative;
      top: -40px;
      left: 50px;
      max-width: 200px;
    }

    &:first-child {
      padding-left: 580px;
    }
  }

  .telephone {
    position: relative;
    left: 875px;
    top: -95px;

    figcaption {
      top: -57px;
    }
  }


  .message {
    position: relative;
    left: 1175px;
    top: -200px;

    figcaption {
      top: -42px;
    }
  }
}