body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e8291e;
}
body header a[href="contacts.html"] {
  color: black;
}
header {
  color: black;
  background: linear-gradient(to top, #e8291e, #2f0f0e);
}
header #logo {
  text-align: center;
}
header .menu a {
  color: white;
  text-decoration: none;
}
header .menu ul {
  list-style-type: none;
  text-align: center;
  font-size: 15pt;
}
header .menu ul li {
  display: inline-block;
  padding-right: 7px;
  border-right: 1px solid grey;
  position: relative;
}
header .menu ul li:last-child {
  border-right: none;
  padding-right: 0;
}
header .menu ul li a:hover {
  transition: 0.3s;
  color: black;
  cursor: pointer;
}
header .menu ul li .submenu {
  width: 350%;
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  left: -115%;
}
header .menu ul li .submenu > li {
  border-right: none;
}
header .menu ul li .submenu > li:last-child {
  padding-right: 7px;
}
header .menu ul li:hover > ul {
  display: block;
}
@media all and (max-width: 670px) {
  header .menu ul {
    font-size: 18pt;
  }
  header .menu ul li {
    padding-right: 10px;
  }
}
footer {
  padding: 50px 0 10px 0;
  min-width: 100%;
  max-height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #e8291e, #c7a098);
}
footer figure {
  padding-right: 250px;
  margin: 0;
}
footer figure figcaption {
  position: relative;
  top: -40px;
  left: 50px;
  max-width: 200px;
}
footer figure:nth-child(2) figcaption {
  position: relative;
  top: -57px;
}
footer figure:first-child {
  padding-left: 20%;
}
@media all and (max-width: 670px) {
  footer figure {
    padding-right: 100px;
  }
  footer figure:first-child {
    padding-left: 20px;
  }
}
article {
  display: flex;
  flex-grow: 1;
  font-family: 'Lobster', cursive;
  flex-direction: column;
  align-self: center;
  /* .right {
    margin-left: 20%;
  }*/
}
article ul {
  list-style-type: none;
}
article a {
  color: black;
}
article .team {
  padding-bottom: 5px;
  font-size: 15pt;
  font-weight: bold;
}
article .name {
  font-size: 14pt;
}
article .left ul {
  padding-bottom: 30px;
}
article .left ul:last-child {
  padding-bottom: 0;
}
@media all and (max-width: 670px) {
  article a {
    font-size: 15pt;
  }
}
