body {
  margin: 0;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    a[href="main.html"] {
      color: @textColor-of-header;
    }
  }
}
@import "../allPages/variables.less";
@import "../allPages/header.less";
@import "../allPages/article.less";
@import "../allPages/footer.less";
