body {
  margin: 0;
  background-color: #e8291e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header a[href="#"] {
  color: black;
}
body header a[href="nkt.html"] {
  color: black;
}
header {
  color: black;
  background: linear-gradient(to top, #e8291e, #2f0f0e);
}
header #logo {
  text-align: center;
}
header .menu a {
  color: white;
  text-decoration: none;
}
header .menu ul {
  list-style-type: none;
  text-align: center;
  font-size: 15pt;
}
header .menu ul li {
  display: inline-block;
  padding-right: 7px;
  border-right: 1px solid grey;
  position: relative;
}
header .menu ul li:last-child {
  border-right: none;
  padding-right: 0;
}
header .menu ul li a:hover {
  transition: 0.3s;
  color: black;
  cursor: pointer;
}
header .menu ul li .submenu {
  width: 350%;
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  left: -115%;
}
header .menu ul li .submenu > li {
  border-right: none;
}
header .menu ul li .submenu > li:last-child {
  padding-right: 7px;
}
header .menu ul li:hover > ul {
  display: block;
}
@media all and (max-width: 670px) {
  header .menu ul {
    font-size: 18pt;
  }
  header .menu ul li {
    padding-right: 10px;
  }
}
footer {
  padding: 50px 0 10px 0;
  min-width: 100%;
  max-height: 100px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #e8291e, #c7a098);
}
footer a {
  color: black;
}
footer figure {
  padding-right: 250px;
  margin: 0;
}
footer figure figcaption {
  position: relative;
  top: -40px;
  left: 50px;
  max-width: 200px;
}
footer figure:nth-child(2) figcaption {
  position: relative;
  top: -57px;
}
footer figure:first-child {
  padding-left: 20%;
}
@media all and (max-width: 670px) {
  footer figure {
    padding-right: 100px;
  }
  footer figure:first-child {
    padding-left: 20px;
  }
}
article {
  align-self: center;
  flex-grow: 1;
  max-width: 1300px;
  font-family: 'Lobster', cursive;
}
article #pageName {
  font-size: 30pt;
  font-weight: bold;
}
article #pageName ~ div {
  padding-top: 13px;
}
article .content {
  font-size: 14pt;
}
article ul {
  margin: 0;
  padding-left: 20px;
}
article .pictures {
  padding: 10px 0;
}
article .pictures img {
  width: 120px;
  height: 110px;
  transition: transform 0.5s, box-shadow 0.3s;
}
article .pictures img:hover {
  box-shadow: 2px 2px 10px black;
}
article .pictures img.zoom {
  transform: scale(6, 4.8);
}
article .technicalCondition ~ div {
  padding-top: 10px;
}
article a {
  color: black;
}
article .cursive {
  font-size: 13pt;
}
@media all and (max-width: 670px) {
  article {
    max-width: 600px;
  }
  article .pictures {
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
  }
  article .pictures img {
    width: 480px;
    height: 336px;
    margin-bottom: 10px;
  }
  article .pictures img.zoom {
    transform: none;
  }
  article a {
    font-size: 15pt;
    line-height: 40px;
  }
}
