article {
  align-self: center;
  flex-grow: 1;
  color: @textColor-of-header;
  font-size: @fontSizeHeader - 1pt;
  max-width: 100%;
  font-family: @fontForArticle;

  .padding {
    padding: 15px 0;
  }

  ul {
    font-size: @fontSizeHeader - 3pt;
    max-width: 350px;

    &:first-child {
      padding-right: 220px;
    }
  }

  .facilities {
    display: flex;
    flex-direction: row;

    .video {
      position: relative;
      left: -15px;
      list-style-type: none;
    }
  }

  a {
    color: @textColor-of-header;
  }

  .picture {
    max-width: 1000px;
    padding-bottom: 10px;
    border-bottom: @border;
  }

  img {
    &:nth-child(1) {
      @media all and (max-width: 670px) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media all and (min-width: 670px) {
        display: none;
      }
    }
  }

  @media all and (max-width: 670px) {
    max-width: 500px;

    .picture {
      max-width: 500px;
    }

    ul {
      &:first-child {
        padding-right: 150px;
      }
      li {
        max-width: 650px;
      }
    }

    .facilities {
      flex-direction: column;
    }
  }
}