article {
  color: @textColor-of-header;
  font-size: @fontSizeHeader - 2pt;
  background: linear-gradient(to bottom right, rgba(235, 42, 33, 1), orange, rgba(232, 41, 30, 1));
  max-width: 800px;
  align-self: center;
  padding: 15px 0 15px 5px;
  flex-grow: 1;
  font-family: @fontForArticle;

  a {
    text-decoration: none;
  }
}